<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2023 OpenSynergy Indonesia
     Copyright 2023 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="menu_finance_config_follow_up"
        name="Follow Ups"
        parent="account.menu_finance_configuration"
        sequence="26"
    />
</odoo>
